<aside class="main-sidebar">
  <!-- 侧边栏 -->
  <section class="sidebar">
    <!-- 用户面板的侧边栏 -->
    <!-- 搜索表单 -->
    <!-- 侧边栏菜单-->
    <ul class="sidebar-menu menuPage">
      <!--用户管理导航-->
      <li class="treeview">
        <a href="/">
          <i class="fa fa-dashboard"></i> <span>首页</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-home"></i> <span>用户中心</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/user/list/"><i class="fa fa-user"></i> 用户管理</a></li>
          <li><a href="/logs/"><i class="fa fa-users"></i> 日志列表</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-home"></i> <span>资产管理</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="/asset/list/"><i class="fa fa-user"></i> 资产信息</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>

<script>
    var path = location.pathname;
    var path = path.replace(/\/$/i, '');
    console.log(path);
    var elemnt = $('[href="'+path+'"]');
    $('#menuPage').find('.nav-item').removeClass('active');
    elemnt.parent('li').addClass('active');
    elemnt.parents('.nav-item').addClass('active open')
</script>

